<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Salud Financiera</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row" >
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>

    <p class="text-center col-lg-12 mt-3 mb-4 font-weight-bold"> Mide la inclinación a
        ayudar
        económicamente a otros que necesitan ayuda o a apoyar causas sociales.</p>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                ¿Durante los últimos 12 meses has donado o regalado dinero a otra persona o
                causa social?
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_1"
                    value="Si, 1 o 2 veces para ayudar en una catástrofe o desastre">
                <label class="form-check-label mt-2" for="test10radio1_1">Si, 1 o 2 veces
                    para
                    ayudar en una catástrofe o desastre</label>
                <br>
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_2"
                    value="Si, 1 o 2 veces para apoyar una causa social ó religiosa diferente a un desastre o catástrofe">
                <label class="form-check-label mt-2" for="test10radio1_2">Si, 1 o 2 veces
                    para
                    apoyar una causa social ó religiosa diferente a un desastre o
                    catástrofe</label>
                <br>
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_3"
                    value="Sí, mensualmente a una causa social ó religiosa diferente a un desastre o catástrofe">
                <label class="form-check-label mt-2" for="test10radio1_3">Sí, mensualmente a
                    una
                    causa social ó religiosa diferente a un desastre o catástrofe</label>
                <br>
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_4" value="No">
                <label class="form-check-label mt-2" for="test10radio1_4">No</label>
                <br>
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_5"
                    value="Si, 1 o 2 veces para ayudar a un amigo o familiar">
                <label class="form-check-label mt-2" for="test10radio1_5">Si, 1 o 2 veces
                    para
                    ayudar a un amigo o familiar</label>
                <br>
                <input type="radio" name="s10s1p1" class="form-check-input mt-3" id="test10radio1_6"
                    value="Si, mensualmente a un familiar o amigo en necesidad">
                <label class="form-check-label mt-2" for="test10radio1_6">Si, mensualmente a
                    un
                    familiar o amigo en necesidad</label>

            </div>
        </div>
    </div>
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicadores10()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar cuestionario</button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>