<footer id="footer" class="p-0 mt-5">
    <!-- Modal terminos y condiciones -->
    <!-- Modal -->
    <div class="modal fade terminosCondiciones" id="terminosCondiciones" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-scrollable" role="document">
            <div class="modal-content" style="width: 770px; height: 612px;">
                <div style="top:0;left:0;margin-left: 820px;z-index: 10;width: 50px;height:0px;">
                    <button id="btnCierraModal" type="button" class="btnTopCierraModal" data-dismiss="modal"><i
                            style="color: #ec1c24;" class="fas fa-times"></i></button>
                </div>
                <div class="mt-6 ml-6 pt-5 pb-5 pl-5 txt-footer-movil"
                    style="width: 430px;height: 22px;font-size: 22px;color: #333333;font-weight: bold;margin-left: 15px">
                    Términos y condiciones
                </div>
                <div class="modal-body mt-7 ml-5 mr-5 mb-3" style="font-size: 14px;color:#8e8e93">
                    CARDIF COLOMBIA SEGUROS GENERALES S. A. no se hace responsable por la comprensión, interpretación
                    y/o o uso por parte de los usuarios, del contenido que se presentado en este sitio. El contenido
                    desarrollado por CARDIF COLOMBIA SEGUROS GENERALES S.A. o un tercero autorizado, no compromete el
                    pensamiento u opinión de sus anunciantes o de otros sitios vinculados. CARDIF COLOMBIA SEGUROS
                    GENERALES S.A. se reserva su facultad de hacer modificaciones en el contenido, presentación y/o
                    configuración de los servicios que ofrece, sin notificar previamente al usuario, toda vez que los
                    beneficios ofrecidos a través de los ecosistemas no hacen parte de las coberturas suscritas en el
                    contrato de seguro.
                    <br><br>
                    CARDIF COLOMBIA SEGUROS GENERALES S.A. no se responsabiliza de ninguna forma por daños o perjuicios
                    de toda naturaleza, que pudieran derivarse de la inadecuada o negligente por parte del usuario, al
                    utilizar sus servicios y contenidos ofrecidos; del mismo modo, de los que puedan derivarse de la
                    falta de veracidad, vigencia, exhaustividad y/o autenticidad de la información proporcionada por el
                    usuario sobre sí mismo a otros usuarios; tampoco de forma particular, aunque no de manera exclusiva,
                    por los daños y perjuicios de toda naturaleza derivados de cualquier tipo de suplantación de
                    personalidad de un tercero que efectúe un usuario en cualquier momento.

                </div>
                <div class="justify-content-center d-flex mb-4">
                    <button type="button" name="button" class="btnMain" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <div style="margin-left: 10px;">
                <button id="btnCierraModal" type="button" class="btnTopCierraModal" data-dismiss="modal"><i
                        style="color: #ec1c24;" class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
    <!-- Modal terminos y condiciones -->

    <!-- Politicas de privacidad -->

    <!-- Modal -->
    <div class="modal fade politicas" id="politicas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-scrollable" role="document">
            <div class="modal-content" style="width: 770px; height: 612px;">
                <div class="mt-6 ml-6 pt-5 pb-5 pl-5"
                    style="width: 430px;height: 22px;font-size: 22px;color: #333333;font-weight: bold;margin-left: 15px;">
                    Políticas de privacidad
                </div>
                <div class="modal-body mt-7 ml-5 mr-5 mb-3" style="font-size: 14px;color:#8e8e93">
                    Al acceder y navegar en la red del portal el usuario puede ingresar datos personales para acceder a
                    los servicios que se ofrecen en línea conectatecontuseguro.com, la compañía se compromete a adoptar
                    una política de confidencialidad y protección de datos personales con el propósito de proteger la
                    información personal obtenida de sus clientes a través de sus distintos canales de comercialización
                    y contacto, política que se regirá por las siguientes condiciones.
                    <br><br>Principios generales que se acogen para garantizar la protección de los datos personales de
                    los clientes: dentro del compromiso legal y corporativo de CARDIF COLOMBIA SEGUROS GENERALES S.A.
                    para garantizar la confidencialidad de la información personal de sus clientes, se establecen como
                    principios generales para el tratamiento de la información, en desarrollo de los ya presentes en la
                    Ley 1581 del 2012 y el Decreto 1377 del 2013, los siguientes:
                    <br><br>Principio de legalidad: no habrá tratamiento de información personal de los clientes sin
                    observar las reglas establecidas en la normatividad vigente.
                    <br><br>Principio de finalidad: la incorporación de datos a las bases físicas o digitales de CARDIF
                    COLOMBIA SEGUROS GENERALES S.A. deberá obedecer a una finalidad legítima, la cual será oportunamente
                    informada al titular en la cláusula de autorización para el tratamiento y en la política de
                    privacidad.
                    <br><br>Principio de libertad: CARDIF SEGUROS GENERALES S.A. realizará tratamiento de datos
                    personales de sus clientes únicamente cuando cuenten con la autorización de estos en los términos
                    del art. 3 literal a de la Ley 1581 del 2012 y el capítulo II del Decreto 1377 del 2013.
                    <br><br>Principio de veracidad y calidad: CARDIF COLOMBIA SEGUROS GENERALES S.A. propenderá porque
                    la información de sus clientes sea veraz y se encuentre actualizada, para lo cual dispondrá de
                    medios eficientes para la actualización y rectificación de los datos personales. Igualmente, CARDIF
                    SEGUROS GENERALES S.A. se abstendrá de llevar a cabo el tratamiento de la información cuando existan
                    dudas sobre la calidad o veracidad de la misma.
                    <br><br>Principio de transparencia: dentro de los mecanismos que se establezcan para el ejercicio de
                    los derechos de los titulares de la información personal, se garantizará al titular y a sus
                    causahabientes, así como a los terceros autorizados por este, el acceso a la información sobre datos
                    personales que le conciernan.
                    <br><br>Principio de acceso y circulación restringida: CARDIF SEGUROS GENERALES S.A. se compromete a
                    garantizar que únicamente personas autorizadas podrán acceder a la información personal. Asimismo,
                    su circulación se limitará al ejercicio de las finalidades autorizadas por el usuario. CARDIF
                    COLOMBIA SEGUROS GENERALES S.A. dispondrá de medios contractuales para garantizar la
                    confidencialidad y circulación restringida de la información.
                    <br><br>Principio de seguridad: CARDIF COLOMBIA SEGUROS GENERALES S.A. adelantará todas las medidas
                    técnicas, administrativas y humanas para garantizar que la información personal de los titulares
                    almacenada en bases de datos físicas o digitales no circule o personas no autorizadas accedan a
                    ella.

                    <br><br>Ejercicio de los derechos sobre los datos personales: los titulares de la información
                    podrán, en cualquier tiempo, ejercer los derechos consagrados en la Ley 1581 del 2012 de conocer,
                    actualizar y rectificar sus datos personales, solicitar prueba de la autorización otorgada para el
                    tratamiento, informarse sobre el uso que se ha dado a los datos, revocar la autorización, solicitar
                    la supresión de sus datos cuando sea procedente y acceder en forma gratuita a los mismos.
                    <br><br>Política para el tratamiento de datos sensibles: CARDIF COLOMBIA SEGUROS GENERALES S.A. no
                    recolectará, incorporará ni almacenará datos sensibles de sus clientes a menos que exista una
                    autorización previa del titular de la información. Solo se solicitará la autorización mencionada
                    cuando sea necesaria y proporcional para la ejecución de la relación contractual con el titular,
                    siempre y cuando la ley exija o permita acceder a información sensible de este.
                    <br><br>El acceso, circulación y tratamiento de los datos sensibles será restringido y se limitará a
                    lo expresamente autorizado por el titular y a lo estipulado en la ley.
                    <br><br>Entrega de información personal a proveedores de servicios: es posible que para cumplir con
                    la relación contractual que CARDIF COLOMBIA SEGUROS GENERALES S.A. sostenga con el titular de la
                    información, esta sea entregada o compartida con proveedores para las finalidades autorizadas por el
                    titular o las previstas en la ley, tales como profesionales de la salud, call centers,
                    distribuidores y profesionales en prevención, y personas naturales o jurídicas que presten servicios
                    profesionales para prestar correctamente la atención. Siempre que su información sea entregada o
                    compartida con proveedores, CARDIF SEGUROS GENERALES S.A. se asegurará de establecer unas
                    condiciones que vinculen al proveedor a las políticas de privacidad de éstas de tal forma que la
                    información personal de los clientes se encuentre protegida.
                    <br><br>Vigencia del tratamiento de los datos: la información suministrada por los titulares
                    permanecerá almacenada por el término necesario para el cumplimiento de los fines para los cuales
                    fue incorporada.
                    <br><br>Modificaciones a la política de privacidad y tratamiento de datos personales: CARDIF
                    COLOMBIA SEGUROS GENERALES S.A. se reserva el derecho de modificar las normas de confidencialidad y
                    protección de datos con el fin de adaptarlas a nuevos requerimientos de tipo legal, jurisprudencial,
                    técnico y, en general, cuando sea necesario para prestar un mejor servicio.
                    <br><br>El responsable del tratamiento de la información es CARDIF COLOMBIA SEGUROS GENERALES S.A.
                    Aceptación de esta política de privacidad: el titular de la información acepta el tratamiento de sus
                    datos personales, conforme con los términos de esta política de privacidad, cuando proporciona los
                    datos a través de nuestros canales o puntos de atención (incluyendo call centers) y cuando compra,
                    adquiere, se afilia o usa cualquiera de nuestros productos o servicios. Acepta y autoriza así mismo,
                    que en el marco de lo anterior, y usando para ello la información recolectada, el responsable de la
                    información, o aquellos terceros con que pudiera compartir la misma, de acuerdo con estas políticas,
                    podrá contactarlo a través de cualquiera de los canales dispuestos para ello (P. Ej . E-Mail,
                    Mensaje de Texto, etc), y para efectos propios de la prestación de los servicios adquiridos.


                </div>
                <div class="justify-content-center d-flex mb-4">
                    <button type="button" name="button" class="btnMain" data-dismiss="modal">Aceptar</button>

                </div>
            </div>
            <div style="margin-left: 10px;">
                <button id="btnCierraModal" type="button" class="btnTopCierraModal" data-dismiss="modal"><i
                        style="color: #ec1c24;" class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <!-- Politicas de privacidad -->

    <div class="ocultarMovil">
        <hr class="my-0 hr-blank op-2 mb-4" />
        <!--poner un border top-->
        <div class="container pt-6 text-sm mb-2">
            <div class="row" style="padding-top: 20px;">
                <div class=" col-sm-12 col-md-1 text-center" style="padding-left: 85px;">
                    <img src="assets/img/footer/vigilado.svg" class="vigilado d-none d-sm-block"
                        alt="vigilado suoerintendencia financiera de colombia">
                </div>
                <div class="col-md-11" style="margin-top: 20px;">
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-1 col-sm-12 col-md-1 text-center"
                            style="padding-right: 120px; margin: 0px 10px">
                            <img src="assets/img/logo-scotiabank.svg" class="Banco-de-bogota" alt="logo scotiabank">
                        </div>
                        <div class="border-right" style="margin-left: 20px;"></div>

                        <!-- <div *ngIf="cambiarLogo('cencosud')" (load)="cambiarLogo('cencosud')" class="col-lg-1 col-sm-12 col-md-1 text-center" style="padding-right: 120px; margin: 0px 10px">
                            <img src="../../../assets/img/footer/logo_cencosud.png" class="Banco-de-bogota" alt="logo Codensa">
                        </div>
                        <div class="border-right" style="margin-left: 20px;">&nbsp;</div>
                        
                        <div *ngIf="cambiarLogo('codensa')" (load)="cambiarLogo('codensa')" class="col-lg-1 col-sm-12 col-md-1 text-center" style="/*padding-right: 120px;*/ margin: 0px 10px">
                            <img src="../../../assets/img/footer/logo_codensa.png" class="codensa" alt="logo Codensa">
                        </div> -->
                        <div class="border-right"></div> <!--  style="margin-left: 20px;"-->

                        <!-- <div class="col-sm-12 col-md-1 text-center borde">
                            <img src="assets/img/footer/grupo-aval-logo.png" srcset="assets/img/footer/grupo-aval-logo@2x.png 2x,
                            assets/img/footer/grupo-aval-logo@3x.png 3x" class="Grupo_Aval_logo">
                        </div>

                        <div class="col-sm-12 col-md-1 text-center borde" style="padding-right: 160px;">
                            <img src="assets/img/footer/images.png" srcset="assets/img/footer/images@2x.png 2x,
                                                                assets/img/footer/images@3x.png 3x" class="images">
                        </div> -->
                        <div class="col-sm-12 col-md-1 text-center">
                            <img src="assets/img/footer/artboard-20-2-x.png" srcset="assets/img/footer/artboard-20-2-x@2x.png 2x,
                                                                assets/img/footer/artboard-20-2-x@3x.png 3x"
                                class="Artboard-202x" alt="BNP paribas cardif">
                        </div>
                        <div style="padding-right: 30px;padding-left: 40px; margin-left:20px">
                            <a data-toggle="modal" data-target=".terminosCondiciones" data-dismiss="modal" href="#"
                                style="font-size: 12px; color:#8e8e93" class="txt-footer-movil">Términos y condiciones
                            </a>
                        </div>
                        <div style="padding-right: 20px;">
                            <a data-toggle="modal" data-target=".politicas" data-dismiss="modal" href="#"
                                style="font-size: 12px; color:#8e8e93" class="txt-footer-movil">Políticas de
                                privacidad</a>
                        </div>
                        <div>
                            <a style="font-size: 12px; color:#8e8e93" class="txt-footer-movil"> BNP Paribas Cardif
                                Derechos reservados -
                                Copyright ©
                                2019</a>
                        </div>
                    </div>
                    <div>
                        <p class="row text-center txt-footer-movil"
                            style="font-size: 12px;display: flex;justify-content: center;align-items: center;padding-top: 40px;color:#8e8e93">

                            En caso de requerir información adicional o presentar algún inconveniente, comunícate con
                            nuestras líneas de atención: <strong style="color: #ec1c24 !important; "><i
                                    class="fa fa-phone fa-fw"></i>
                                <a href="tel:2116000" class="colorTexto txt-footer-movil">Linea de atención nacional
                                    Scotibank: 211-6000</a>
                                <!-- <a href="tel:018000 932933" class="colorTexto"> o Resto del país: 018000 932933</a> -->
                            </strong>
                        </p>

                    </div>
                </div>

            </div>


        </div>

        <div class="bg-inverse-grey text-sm py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 txt-footer-movil"
                        style="font-size: 11px;display: flex;justify-content: center;align-items: center;height: 36px;">
                        Para que vivas una mejor experiencia y visualizar nuestros servicios, te recomendamos usar los
                        navegadores de internet “Web Chrome 43”, “Firefox 38”, “Safari 8” o sus versiones más
                        actualizadas.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mostrarMovil">
        <hr class="my-0 hr-blank op-2 mb-3" />
        <div class="container pt-6 text-sm mb-2">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-1 text-center">
                    <img src="assets/img/footer/vigilado.svg" class="vigilado">
                </div>
                <div class="col-8 col-sm-8 col-md-11">
                    <div class="row mb-5">
                        <div class="col-sm-12 col-md-2 text-center mb-3">
                            <img src="assets/img/logo-scotiabank.svg" class="Banco-de-bogota">
                        </div>
                        <div class=" col-sm-12 col-md-2 text-center mb-3">
                            <img src="assets/img/footer/artboard-20-2-x.png" srcset="assets/img/footer/artboard-20-2-x@2x.png 2x,
                                                                assets/img/footer/artboard-20-2-x@3x.png 3x"
                                class="Artboard-202x">
                        </div>
                        &nbsp;
                        <div class="col-md-5">
                            <ul class="list-inline footer-links float-md-right mb-0 text-center mt-2">
                                <li class="list-inline-item mt-3"><a data-toggle="modal"
                                        data-target=".terminosCondiciones" data-dismiss="modal" href="#"
                                        style="font-size: 14px;color:#8e8e93 !important;text-decoration: none;"
                                        class="txt-footer-movil">Términos
                                        y
                                        condiciones
                                    </a></li><br />
                                <li class="list-inline-item mt-3"><a data-toggle="modal" data-target=".politicas"
                                        data-dismiss="modal" href="#"
                                        style="font-size: 14px;color:#8e8e93 !important;text-decoration: none;"
                                        class="txt-footer-movil">Políticas
                                        de
                                        privacidad</a></li><br />
                                <li class="list-inline-item mt-3"><a
                                        style="font-size: 14px;color:#8e8e93 !important;text-decoration: none;"
                                        class="txt-footer-movil">
                                        BNP Paribas Cardif
                                        Derechos reservados -
                                        Copyright
                                        © 2019</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <p class="row text-center text-secondary txt-footer-movil"
                            style="font-size: 14px;color:#8e8e93;text-decoration: none;">
                            En caso de requerir información adicional o presentar algún inconveniente, comunícate con
                            nuestras líneas de atención:
                        </p>
                        <p class="row text-center text-secondary mt-3 txt-footer-movil">
                            <strong class="text-primary" style="font-size: 14px;color:#ec1c24;text-decoration: none;">
                                <i class="fa fa-phone fa-fw colorTexto"></i>
                                <a href="tel:2116000" class="colorTexto txt-footer-movil">  Linea de atención nacional Scotibank: 211-6000</a>
                                <!-- <a href="tel:018000 932933" class="colorTexto txt-footer-movil"> o Resto del país: 018000 932933</a>-->
                            </strong>
                        </p>

                    </div>
                </div>

            </div>


        </div>

        <div class="bg-inverse-grey text-sm py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 txt-footer-movil-2 justify-content-center d-flex p-3 text-center "
                        style="font-size: 11px;display: flex;justify-content: center;align-items: center;color:#8e8e93">
                        Para que vivas una mejor experiencia y visualizar nuestros servicios, te recomendamos usar los
                        navegadores de internet “Web Chrome 43”, “Firefox 38”, “Safari 8” o sus versiones más
                        actualizadas.
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>