// $des_eco1_backColor: linear-gradient(115deg, #ec1c24 -8%, #ec1c24 101%);
$des_eco1_backColor: #7849b8;

.imgMovil{
  background-image: url("/../../../assets/img/fraude2/finanzas/finanzas-woman.png") !important;
  background-size: 250px;
  background-color: $des_eco1_backColor;
  background-position: center bottom 0%;
  background-repeat: no-repeat;
}
