<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Salud Financiera</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row">
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>
    <p class="text-center col-lg-8 offset-lg-2 mt-3 mb-4 font-weight-bold">Mide de qué manera pagas lo
        que
        compras, que estrategias sigues para hacer la mejor compra, el nivel de impulsividad
        para comprar y nivel de conciencia de los sobre costos de comprar con deuda.</p>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>Indica para cada afirmación si consideras si es verdadera o falsa</label>
            <table class="table table-bordered table-striped" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th class="col-3"></th>
                        <th class="col-3"><label>Con ahorros que has constituido
                                especialmente
                                para dicha compra</label></th>
                        <th class="col-3"><label>Con ahorros genéricos que tienes
                                disponibles</label></th>
                        <th class="col-3"><label>Con tarjeta de crédito</label></th>
                        <th class="col-3"><label>Con un prestamos de libre inversión o
                                crédito
                                de libranza</label></th>
                        <th class="col-3"><label>Con un prestamos de un familiar ó amigo
                            </label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Compra entre $500.000 y $1.000.000</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t1" class="" id="s10s1p1t1_1"
                                value="Con ahorros que has constituido especialmente para dicha compra"><label
                                for="s10s1p1t1_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t1" class="" id="s10s1p1t1_2"
                                value="Con ahorros genéricos que tienes disponibles"><label for="s10s1p1t1_2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t1" class="" id="s10s1p1t1_3"
                                value="Con tarjeta de crédito"><label for="s10s1p1t1_3"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t1" class="" id="s10s1p1t1_4"
                                value="Con un prestamos de libre inversión o crédito de libranza"><label
                                for="s10s1p1t1_4"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t1" class="" id="s10s1p1t1_5"
                                value="Con un prestamos de un familiar ó amigo"><label for="s10s1p1t1_5"></label></td>
                    </tr>
                    <tr>
                        <td>Compra entre $1.000.0000 y $2.000.000</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t2" class="" id="s10s1p1t2_1"
                                value="Con ahorros que has constituido especialmente para dicha compra"><label
                                for="s10s1p1t2_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t2" class="" id="s10s1p1t2_2"
                                value="Con ahorros genéricos que tienes disponibles"><label for="s10s1p1t2_2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t2" class="" id="s10s1p1t2_3"
                                value="Con tarjeta de crédito"><label for="s10s1p1t2_3"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t2" class="" id="s10s1p1t2_4"
                                value="Con un prestamos de libre inversión o crédito de libranza"><label
                                for="s10s1p1t2_4"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t2" class="" id="s10s1p1t2_5"
                                value="Con un prestamos de un familiar ó amigo"><label for="s10s1p1t2_5"></label></td>
                    </tr>
                    <tr>
                        <td>Compra entre $2.000.0000 y $3.000.000</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t3" class="" id="s10s1p1t3_1"
                                value="Con ahorros que has constituido especialmente para dicha compra"><label
                                for="s10s1p1t3_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t3" class="" id="s10s1p1t3_2"
                                value="Con ahorros genéricos que tienes disponibles"><label for="s10s1p1t3_2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t3" class="" id="s10s1p1t3_3"
                                value="Con tarjeta de crédito"><label for="s10s1p1t3_3"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t3" class="" id="s10s1p1t3_4"
                                value="Con un prestamos de libre inversión o crédito de libranza"><label
                                for="s10s1p1t3_4"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t3" class="" id="s10s1p1t3_5"
                                value="Con un prestamos de un familiar ó amigo"><label for="s10s1p1t3_5"></label></td>
                    </tr>
                    <tr>
                        <td>Compra superiores a $3.000.000</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t4" class="" id="s10s1p1t4_1"
                                value="Con ahorros que has constituido especialmente para dicha compra"><label
                                for="s10s1p1t4_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t4" class="" id="s10s1p1t4_2"
                                value="Con ahorros genéricos que tienes disponibles"><label for="s10s1p1t4_2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t4" class="" id="s10s1p1t4_3"
                                value="Con tarjeta de crédito"><label for="s10s1p1t4_3"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t4" class="" id="s10s1p1t4_4"
                                value="Con un prestamos de libre inversión o crédito de libranza"><label
                                for="s10s1p1t4_4"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p1t4" class="" id="s10s1p1t4_5"
                                value="Con un prestamos de un familiar ó amigo"><label for="s10s1p1t4_5"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label>Indica para cada afirmación si consideras si es verdadera o falsa</label>
            <table class="table table-bordered table-striped" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th class="col-3"></th>
                        <th class="col-3"><label>Ahorro/débito/efectivo</label></th>
                        <th class="col-3"><label>Crédito/prestamos/tarjeta de
                                crédito</label>
                        </th>
                        <th class="col-3"><label>Ambos</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pagar un almuerzo o cena importante</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t1" class="" id="test10radio2_1t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_1t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t1" class="" id="test10radio2_1t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_1t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t1" class="" id="test10radio2_1t3" value="Ambos"><label
                                for="test10radio2_1t3"></label></td>
                    </tr>
                    <tr>
                        <td>Hacer mercado</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t2" class="" id="test10radio2_2t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_2t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t2" class="" id="test10radio2_2t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_2t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t2" class="" id="test10radio2_2t3" value="Ambos"><label
                                for="test10radio2_2t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar medicamentos o pagar citas médicas</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t3" class="" id="test10radio2_3t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_3t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t3" class="" id="test10radio2_3t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_3t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t3" class="" id="test10radio2_3t3" value="Ambos"><label
                                for="test10radio2_3t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar ropa y zapatos</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t4" class="" id="test10radio2_4t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_4t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t4" class="" id="test10radio2_4t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_4t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t4" class="" id="test10radio2_4t3" value="Ambos"><label
                                for="test10radio2_4t3"></label></td>
                    </tr>
                    <tr>
                        <td>Para los servicios públicos</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t5" class="" id="test10radio2_5t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_5t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t5" class="" id="test10radio2_5t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_5t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t5" class="" id="test10radio2_5t3" value="Ambos"><label
                                for="test10radio2_5t3"></label></td>
                    </tr>
                    <tr>
                        <td>Pagar un viaje o irse de vacaciones</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t6" class="" id="test10radio2_6t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_6t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t6" class="" id="test10radio2_6t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_6t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t6" class="" id="test10radio2_6t3" value="Ambos"><label
                                for="test10radio2_6t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar implementos deportivos</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t7" class="" id="test10radio2_7t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_7t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t7" class="" id="test10radio2_7t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_7t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t7" class="" id="test10radio2_7t3" value="Ambos"><label
                                for="test10radio2_7t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar un electrodomésticos y muebles</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t8" class="" id="test10radio2_8t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_8t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t8" class="" id="test10radio2_8t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_8t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t8" class="" id="test10radio2_8t3" value="Ambos"><label
                                for="test10radio2_8t3"></label></td>
                    </tr>
                    <tr>
                        <td>Atender una emergencia o imprevisto</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t9" class="" id="test10radio2_9t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_9t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t9" class="" id="test10radio2_9t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_9t2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t9" class="" id="test10radio2_9t3" value="Ambos"><label
                                for="test10radio2_9t3"></label></td>
                    </tr>
                    <tr>
                        <td>Pagar la universidad, especialización o maestría</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t10" class="" id="test10radio2_10t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_10t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t10" class="" id="test10radio2_10t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_10t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t10" class="" id="test10radio2_10t3" value="Ambos"><label
                                for="test10radio2_10t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar carro o moto</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t11" class="" id="test10radio2_11t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_11t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t11" class="" id="test10radio2_11t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_11t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t11" class="" id="test10radio2_11t3" value="Ambos"><label
                                for="test10radio2_11t3"></label></td>
                    </tr>
                    <tr>
                        <td>Comprar casa o apartamento</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t12" class="" id="test10radio2_12t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_12t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t12" class="" id="test10radio2_12t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_12t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t12" class="" id="test10radio2_12t3" value="Ambos"><label
                                for="test10radio2_12t3"></label></td>
                    </tr>
                    <tr>
                        <td>Remodelar la vivienda</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t13" class="" id="test10radio2_13t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_13t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t13" class="" id="test10radio2_13t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_13t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t13" class="" id="test10radio2_13t3" value="Ambos"><label
                                for="test10radio2_13t3"></label></td>
                    </tr>
                    <tr>
                        <td>Invertir en un negocio</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t14" class="" id="test10radio2_14t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_14t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t14" class="" id="test10radio2_14t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_14t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t14" class="" id="test10radio2_14t3" value="Ambos"><label
                                for="test10radio2_14t3"></label></td>
                    </tr>
                    <tr>
                        <td>Iniciar un negocio propio</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t15" class="" id="test10radio2_15t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_15t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t15" class="" id="test10radio2_15t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_15t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t15" class="" id="test10radio2_15t3" value="Ambos"><label
                                for="test10radio2_15t3"></label></td>
                    </tr>
                    <tr>
                        <td>Pagar el colegio o jardín de los hijos</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t16" class="" id="test10radio2_16t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_16t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t16" class="" id="test10radio2_16t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_16t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t16" class="" id="test10radio2_16t3" value="Ambos"><label
                                for="test10radio2_16t3"></label></td>
                    </tr>
                    <tr>
                        <td>Pagar la universidad de los hijos</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t17" class="" id="test10radio2_17t1"
                                value="Ahorro/débito/efectivo"><label for="test10radio2_17t1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t17" class="" id="test10radio2_17t2"
                                value="Crédito/prestamos/tarjeta de crédito"><label for="test10radio2_17t2"></label>
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p2t17" class="" id="test10radio2_17t3" value="Ambos"><label
                                for="test10radio2_17t3"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <div class="col-12 mb-2">
                ¿Cuándo compras a crédito sabes cuanto te va a terminar costando?
            </div>
            <div class="col-4 f12 mt-4 text-mute">NO tengo idea, solo me fijo en cuántas
                cuotas
                y qué valor tiene cada una</div>
            <div class="col-4 f12 pl-0">
                <table class="table borderless">
                    <tr>
                        <td style="border-top: 0px; text-align: center;">1
                            <br>
                            <input class="form-check-input rdPreguntaRango" type="radio" name="s10s1p3" id="p10s1p3_1"
                                value="1"><label for="p10s1p3_1"></label>
                        </td>
                        <td style="border-top: 0px; text-align: center;">2
                            <br>
                            <input class="form-check-input rdPreguntaRango" type="radio" name="s10s1p3" id="p10s1p3_2"
                                value="2"><label for="p10s1p3_2"></label>
                        </td>
                        <td style="border-top: 0px; text-align: center;">3
                            <br>
                            <input class="form-check-input rdPreguntaRango" type="radio" name="s10s1p3" id="p10s1p3_3"
                                value="3"><label for="p10s1p3_3"></label>
                        </td>
                        <td style="border-top: 0px; text-align: center;">4
                            <br>
                            <input class="form-check-input rdPreguntaRango" type="radio" name="s10s1p3" id="p10s1p3_4"
                                value="4"><label for="p10s1p3_4"></label>
                        </td>
                        <td style="border-top: 0px; text-align: center;">5
                            <br>
                            <input class="form-check-input rdPreguntaRango" type="radio" name="s10s1p3" id="p10s1p3_5"
                                value="5"><label for="p10s1p3_5"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-4 f12 mt-4">SI con exactitud, se cuánto pago por intereses más
                capital</div>
        </div>
        <div class="form-group mt-3">
            <label>
                Si te enteras de un descuento especial o promoción para comprar algo que te
                gustaría mucho tener, pero que no estaba presupuestado, no es una necesidad
                primaria y no tienes ahorros, ¿Qué harías?
            </label>
            <select class="form-control mt-2" [(ngModel)]="s10s1p4">
                <option value="">Elige</option>
                <option value="Lo compro con deuda (préstamo o tarjeta de crédito)">Lo
                    compro
                    con deuda (préstamo o tarjeta de crédito)</option>
                <option value="Lo compro usando el dinero que estaba destinado para algo mas">Lo
                    compro usando el dinero que estaba destinado para algo mas</option>
                <option value="Lo compro usando el dinero guardado para emergencias">Lo
                    compro
                    usando el dinero guardado para emergencias</option>
                <option value="No lo compro y lo olvido el asunto">No lo compro y lo olvido
                    el
                    asunto</option>
                <option value="No lo compro y comienzo a ahorrar para comprarlo después">No
                    lo
                    compro y comienzo a ahorrar para comprarlo después</option>
            </select>
        </div>

        <div class="form-group">
            <label>¿Típicamente cuándo compras algo, sea por necesidad o deseo qué actitud
                asumes?</label>
            <table class="table table-bordered table-striped" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th class="col-3"></th>
                        <th class="col-3"><label>Siempre</label></th>
                        <th class="col-3"><label>Algunas veces</label></th>
                        <th class="col-3"><label>Nunca</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>En el supermercado o centro comercial busco la alternativa con
                            el
                            MENOR PRECIO pero similar calidad/beneficio</td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t1" class="" value="Siempre" id="s10s1p5t1_1"><label
                                for="s10s1p5t1_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t1" class="" value="Algunas veces" id="s10s1p5t1_2"><label
                                for="s10s1p5t1_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t1" class="" value="Nunca" id="s10s1p5t1_3"><label
                                for="s10s1p5t1_3"></label></td>
                    </tr>
                    <tr>
                        <td>Trato de buscar DESCUENTOS o PROMOCIONES
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t2" class="" value="Siempre" id="s10s1p5t2_1"><label
                                for="s10s1p5t2_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t2" class="" value="Algunas veces" id="s10s1p5t2_2"><label
                                for="s10s1p5t2_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t2" class="" value="Nunca" id="s10s1p5t2_3"><label
                                for="s10s1p5t2_3"></label></td>
                    </tr>
                    <tr>
                        <td>Me gusta NEGOCIAR hasta lograr un descuento
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t3" class="" value="Siempre" id="s10s1p5t3_1"><label
                                for="s10s1p5t3_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t3" class="" value="Algunas veces" id="s10s1p5t3_2"><label
                                for="s10s1p5t3_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t3" class="" value="Nunca" id="s10s1p5t3_3"><label
                                for="s10s1p5t3_3"></label></td>
                    </tr>
                    <tr>
                        <td>Busco CUPONES de descuento
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t4" class="" value="Siempre" id="s10s1p5t4_1"><label
                                for="s10s1p5t4_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t4" class="" value="Algunas veces" id="s10s1p5t4_2"><label
                                for="s10s1p5t4_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t4" class="" value="Nunca" id="s10s1p5t4_3"><label
                                for="s10s1p5t4_3"></label></td>
                    </tr>
                    <tr>
                        <td>Compro artículos USADOS en buenas condiciones
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t5" class="" value="Siempre" id="s10s1p5t5_1"><label
                                for="s10s1p5t5_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t5" class="" value="Algunas veces" id="s10s1p5t5_2"><label
                                for="s10s1p5t5_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t5" class="" value="Nunca" id="s10s1p5t5_3"><label
                                for="s10s1p5t5_3"></label></td>
                    </tr>
                    <tr>
                        <td>Compro en volumen para lograr un descuento
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t6" class="" value="Siempre" id="s10s1p5t6_1"><label
                                for="s10s1p5t6_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t6" class="" value="Algunas veces" id="s10s1p5t6_2"><label
                                for="s10s1p5t6_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t6" class="" value="Nunca" id="s10s1p5t6_3"><label
                                for="s10s1p5t6_3"></label></td>
                    </tr>
                    <tr>
                        <td>Me desplazo a lugares alejados buscando mejores precios
                            (outlets,
                            San Victorino, 7 de agosto, San Andresito, mercado de pulgas,
                            madrugones, ferias)
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t7" class="" value="Siempre" id="s10s1p5t7_1"><label
                                for="s10s1p5t7_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t7" class="" value="Algunas veces" id="s10s1p5t7_2"><label
                                for="s10s1p5t7_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t7" class="" value="Nunca" id="s10s1p5t7_3"><label
                                for="s10s1p5t7_3"></label></td>
                    </tr>
                    <tr>
                        <td>Investigo primero por internet o cotizo en varios lugares antes
                            de
                            comprar
                        </td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t8" class="" value="Siempre" id="s10s1p5t8_1"><label
                                for="s10s1p5t8_1"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t8" class="" value="Algunas veces" id="s10s1p5t8_2"><label
                                for="s10s1p5t8_2"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s10s1p5t8" class="" value="Nunca" id="s10s1p5t8_3"><label
                                for="s10s1p5t8_3"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicadores9()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar cuestionario</button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>